.box {
  width: 48%;
}
.article {
  margin: 15px;
  position: relative;
}
.masonry-container{
	width:96%;
}


/*menu-start*/
header{
    height: auto;
    position: relative;
    width: 100%;    
}
#mainmenu {
    float: right;
}

#mainmenu ul,
#mainmenu ul li{
    margin: 0;
    padding: 0;
    outline: 0;
    color: #fff;
    line-height: 1;
    font-weight: 400;
    list-style: none;
    display: block;
    position: relative;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    letter-spacing: 1px;
}
#mainmenu ul{
    padding: 28px 0px;
}
#mainmenu ul li a{
    margin: 0;
    padding: 15px 0;
    outline: 0;
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    list-style: none;
    display: block;
    position: relative;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    letter-spacing: 1px;
    text-transform:uppercase;
}
#menu-line {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    background: #673AB7;
}
#mainmenu > ul > li {
    float: left;margin-right: 20px;
}
#mainmenu > ul > li > a:hover, 
.fixed-header.fixed #mainmenu > ul > li > a:hover, 
#mainmenu > ul > li.current-menu-item > a {
    color: #e87e00; 
    background: transparent;
}
#mainmenu > ul > li:last-child {
    margin-right: 0 !important;padding-right: 0 !important;
}
#mainmenu.align-center > ul {
    font-size: 0;text-align: center;
}
#mainmenu.align-center > ul > li {
    display: inline-block;float: none;
}
#mainmenu.align-center ul ul {
    text-align: left;
}
#mainmenu.align-right > ul > li {
    float: right;
}
#mainmenu.align-right ul ul {
    text-align: right;
}
.main-logo,#mainmenu > ul > li > a{
    height: auto;
    display: inline-block;
    align-items: center; 
    text-decoration: none;
}
.on-scroll .main-logo,.on-scroll #mainmenu > ul > li > a,.on-scroll #mainmenu #menu-button {
    height: 80px;
}

#mainmenu ul > li.has-sub > a:after {
    position: relative;top: -2px;
    right: 0px;width: 6px;height: 6px;
    margin-left:5px;margin-right: 3px;
    border-bottom: 2px solid;border-right: 2px solid;
    content: ""; -webkit-transform:rotate(45deg);
    -moz-transform: rotate(45deg); -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg); transform: rotate(45deg);
    -webkit-transition: border-color 0.2s ease;-moz-transition: border-color 0.2s ease;
    -ms-transition: border-color 0.2s ease; -o-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease; transition: all ease 0.3s;
    display: inline-block;
}

/*-------------------------------*/
/*-------------------------------*/
#mainmenu ul > li.has-sub:hover > a:after {
    -webkit-transform: rotate(222deg);
    -moz-transform: rotate(222deg);
    -ms-transform: rotate(222deg);
    -o-transform: rotate(222deg);
    transform: rotate(222deg);
    transition: all ease 0.3s;
}
#mainmenu ul ul {
    position: absolute;
    z-index: 999;
    padding: 0px 0 0px;
    background: #ffffff;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.1);
}
#mainmenu.align-right li:hover > ul {
    right: 0;
}
ul.sub-menu .submenu-right {
    right: 100%;
}
ul.sub-menu .submenu-left {
    left: 100%;
}
#mainmenu ul ul ul {
    top: 0;
}
#mainmenu.align-right ul ul ul {
    margin-left: 0;
    margin-right: 100%;
}
#mainmenu ul ul li {
    height: 0;
    padding: 0 0px;
    margin: 0 0 0px;
    opacity: 0;
    -webkit-transform: scale(0, 1);
    -moz-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    -o-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#mainmenu ul li:hover > ul > li {
    height: 40px;
    opacity: 1;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}
#mainmenu ul ul li a {
    min-width: 130px;
    white-space: nowrap;
    padding: 10px 15px;
    background: none;
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
}
#mainmenu ul ul li:hover > a,
#mainmenu ul ul li a:hover {
    color: #e87e00;
}
.main-nav {
    min-height: inherit;
    border: 0;
    margin: 0;
    border-radius: 0;
}
.transparent .main-nav .logo-dark,
.transparent .main-nav.on-scroll .logo-light {
    display: none;
}
.transparent .main-nav .logo-light,
.transparent .main-nav.on-scroll .logo-dark {
    display: flex;
}
header:not(.transparent) .main-nav .logo-light {
    display: none;
}
.fixed {
    padding: 0;
    background-color: rgba(255, 255, 255, 1);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.main-logo {
    float: left;
    position: relative;
    z-index: 1;
    max-width: 300px;
}
.main-logo a img {
    width: auto;
    height: 100%
}
.fixed-header.fixed #mainmenu > ul > li > a {
    color: #ffffff;
}
.fixed-header.fixed #mainmenu ul ul {
    background: rgba(255, 255, 255, 1)
}
.transparent {
    position: absolute;
    background: transparent;
    top: auto;
    color: #ffffff;
    width: 100%;
}
.main-nav {
    opacity: 1;
    z-index: 999;
    width: 100%;
    background: transparent;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 5px;
}
.transparent .main-nav {
    box-shadow: none;
}
.main-nav.fixed-header.fixed {
    position: fixed;
    top: auto;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}
#mainmenu #menu-button,
#mainmenu .submenu-button {
    display: none;
}
/*----//// Responsive ////----*/

@media (max-width: 1024px) {
    /*---- Home start ----*/
    /*Menu*/
    
    #menu-line {
        display: none;
    }
    .foodrecipes-logo a img{
        margin: 0 auto;
    }
    #mainmenu {
        width: 100%;
        top: 0;
        position: relative;
        float: none;
    }
    #mainmenu ul {
        width: 96%;
        display: none;
        clear: both;
        position: relative;
        top: 0px;
        text-align: left;
        background: rgb(248, 248, 248);
        padding: 15px 0px 0px 0px;
        border-top: 0px solid #389ca5;
        margin:15px auto 0px auto;
    }
    #mainmenu ul li,
    #mainmenu ul ul li,
    #mainmenu ul li:hover > ul > li {
        width: 100%;
        height: auto;
        opacity: 1;
        -webkit-transform: none !important;
        -moz-transform: none !important;
        -o-transform: none !important;
        transform: none !important;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    #mainmenu li:hover > ul {
        padding: 0;
    }
    #mainmenu ul li a {
        width: 100%;
        color: #676767;
    }
    #mainmenu > ul > li > a,
    .on-scroll #mainmenu > ul > li > a {
        padding: 0px 15px;
        line-height: 30px;
        height: inherit;
        display: block;
        border-bottom: 1px solid #ccc;
    }
    #mainmenu > ul > li > a:hover,
    #mainmenu > ul > li > a.active {
        background: transparent;
    }
    #mainmenu > ul > li > a:before,
    #mainmenu ul ul li a:before,
    #mainmenu ul > li.has-sub > a:after {
        display: none;
    }
    #mainmenu > ul > li,
    #mainmenu.align-center > ul > li,
    #mainmenu.align-right > ul > li {
        float: none;
        display: block;
        z-index: 2;
    }
    #mainmenu li > ul {
        left: auto;
        background-color: transparent;
        border: none;
        border-radius: 0px;
        box-shadow: none;
    }
    #mainmenu li:hover > ul {
        left: auto;
        background-color: transparent;
        border: none;
        border-radius: 0px;
        box-shadow: none;
    }
    #mainmenu ul ul {
        position: absolute;
        left: -9999px;
        padding: 0px 0 5px;
    }
    #mainmenu ul ul li a {
        line-height: 30px;
        padding: 0px 30px;
    }
    #mainmenu ul ul,
    #mainmenu ul ul ul {
        position: relative;
        top: 0;
        left: 0;
        right: auto;
        width: 100%;
        padding: 0;
        margin: 0px 0 0px;
    }
    #mainmenu > ul > li.has-sub > a::after,
    #mainmenu ul ul li.has-sub > a::after {
        display: none;
    }
    #mainmenu #menu-button {
        font-size: 30px;
        right: 20px;
        top: 0;
        display: flex;
        align-items: center;
        position: absolute;
        cursor: pointer;
        z-index: 1111;
        color: #389ca5;
    }
    #mainmenu #menu-button:after{
        content: '';
        position: absolute;
        top: 20px;
        right: 5px;
        display: block;
        width: 22px;
        height: 2px;
        background: #fff;
        -webkit-transition: all 0.3s ease-in-out 0s;
    }
    #mainmenu #menu-button.menu-opened:after{
        content: '';
        position: absolute;
        top: 26px !important;
        right: 5px !important;
        display: block;
        width: 22px;
        height: 2px;
        border-top: 2px solid #fff;
        transform: rotate(-45deg);
        -webkit-transition: all 0.3s ease-in-out 0s;
    }
    #mainmenu #menu-button:before{
        content: '';
        position: absolute;
        top: 25px;
        right: 5px;
        display: block;
        width: 22px;
        height: 7px;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        -webkit-transition: all 0.3s ease-in-out 0s;
    }
    #mainmenu #menu-button.menu-opened:before{
        content: '';
        position: absolute;
        top: 25px;
        right: 7px;
        display: block;
        width: 22px;
        height: 7px;
        border-bottom: 0 !important;
        transform: rotate(45deg);
        -webkit-transition: all 0.3s ease-in-out 0s;
    }
    #mainmenu .submenu-button {
        position: absolute;
        z-index: 10;
        right: 0;
        top: 0;
        display: block;
        border-left: 1px solid rgba(120, 120, 120, 0.15);
        height: 30px;
        width: 30px;
        cursor: pointer;
        color: #676767;
    }
    #mainmenu .submenu-button::before {
        position: absolute;
        width: 100%;
        height: 100%;
        font-size: 20px;
        z-index: 99;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #mainmenu .submenu-button.submenu-opened::before {
        content: '\f106';
    }
    .fixed-header.fixed #mainmenu > ul > li > a {
        color: #676767;
    }
}
/*-----------------------------------*/
@media (max-width:480px){
    .main-logo {
        max-width: 230px;
    }
}
/*menu-end*/