html {
  font-size: 93.75%;
}

/* Variables */
/*----------  Media Query min-width Structure   ----------*/
/*----------  Media Query max-width Structure   ----------*/
/*----------  Break-point min-width Structure   ----------*/
/*----------  Break-point max-width Structure   ----------*/
/*----------  Font Size  ----------*/
/*----------  Line Height  ----------*/
/*----------  Site Basic Structure  ----------*/
/*----------  z-index Structure   ----------*/
/*
 * Button mixin- creates a button effect with correct
 * highlights/shadows, based on a base color.
 */
.edit-post-visual-editor {
  /* must have higher specificity than alternative color schemes inline styles */
  /* Default Astra Icons CSS */
}

.edit-post-visual-editor html {
  box-sizing: border-box;
}

.edit-post-visual-editor *,
.edit-post-visual-editor *:before,
.edit-post-visual-editor *:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

.edit-post-visual-editor body {
  color: #808285;
  background: #ffffff;
  /* Fallback for when there is no custom background color defined. */
  font-style: normal;
}

.edit-post-visual-editor ul, .edit-post-visual-editor ol {
  margin: 0 0 1.5em 3em;
}

.edit-post-visual-editor ul {
  list-style: disc;
}

.edit-post-visual-editor ol {
  list-style: decimal;
}

.edit-post-visual-editor li > ul,
.edit-post-visual-editor li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

.edit-post-visual-editor dt {
  font-weight: bold;
}

.edit-post-visual-editor dd {
  margin: 0 1.5em 1.5em;
}

.edit-post-visual-editor b, .edit-post-visual-editor strong {
  font-weight: bold;
}

.edit-post-visual-editor dfn,
.edit-post-visual-editor cite,
.edit-post-visual-editor em,
.edit-post-visual-editor i {
  font-style: italic;
}

.edit-post-visual-editor blockquote,
.edit-post-visual-editor q {
  quotes: "" "";
}

.edit-post-visual-editor blockquote:before, .edit-post-visual-editor blockquote:after,
.edit-post-visual-editor q:before,
.edit-post-visual-editor q:after {
  content: "";
}

.edit-post-visual-editor blockquote {
  border-left: 5px solid rgba(0, 0, 0, 0.05);
  padding: 20px;
  font-size: 1.2em;
  font-style: italic;
  margin: 0 0 1.5em;
  position: relative;
}

.edit-post-visual-editor blockquote p:last-child {
  margin: 0;
}

.edit-post-visual-editor address {
  margin: 0 0 1.5em;
}

.edit-post-visual-editor abbr,
.edit-post-visual-editor acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

.edit-post-visual-editor pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  margin-bottom: 1.6em;
  overflow: auto;
  max-width: 100%;
  padding: 1.6em;
}

.edit-post-visual-editor code,
.edit-post-visual-editor kbd,
.edit-post-visual-editor tt,
.edit-post-visual-editor var {
  font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

.edit-post-visual-editor img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

.edit-post-visual-editor hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

.edit-post-visual-editor .ast-button,
.edit-post-visual-editor .button,
.edit-post-visual-editor button,
.edit-post-visual-editor input,
.edit-post-visual-editor select,
.edit-post-visual-editor textarea {
  color: #808285;
  font-weight: normal;
  font-size: 100%;
  /* Corrects font size not being inherited in all browsers */
  margin: 0;
  /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline;
  /* Improves appearance and consistency in all browsers */
}

.edit-post-visual-editor button,
.edit-post-visual-editor input {
  line-height: normal;
  /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
}

.edit-post-visual-editor big {
  font-size: 125%;
}

.edit-post-visual-editor mark,
.edit-post-visual-editor ins {
  background: transparent;
  text-decoration: none;
}

.edit-post-visual-editor ul, .edit-post-visual-editor ol {
  margin: 0 0 1.5em 3em;
}

.edit-post-visual-editor ul {
  list-style: disc;
}

.edit-post-visual-editor ol {
  list-style: decimal;
}

.edit-post-visual-editor li > ul,
.edit-post-visual-editor li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

.edit-post-visual-editor dt {
  font-weight: bold;
}

.edit-post-visual-editor dd {
  margin: 0 1.5em 1.5em;
}

.edit-post-visual-editor table, .edit-post-visual-editor th, .edit-post-visual-editor td {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.edit-post-visual-editor table {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 1px 0 0 1px;
  margin: 0 0 1.5em;
  width: 100%;
}

.edit-post-visual-editor th {
  font-weight: bold;
}

.edit-post-visual-editor th, .edit-post-visual-editor td {
  padding: 8px;
  text-align: left;
  border-width: 0 1px 1px 0;
}

.edit-post-visual-editor ::selection {
  color: #fff;
  background: royalblue;
}

.edit-post-visual-editor body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.edit-post-visual-editor body:not(.logged-in) {
  position: relative;
}

.edit-post-visual-editor #page {
  position: relative;
}

.edit-post-visual-editor a,
.edit-post-visual-editor a:focus {
  text-decoration: none;
}

.edit-post-visual-editor a,
.edit-post-visual-editor .site-header a *,
.edit-post-visual-editor .site-footer a *,
.edit-post-visual-editor .secondary a * {
  transition: all 0.2s linear;
}

.edit-post-visual-editor .capitalize {
  text-transform: uppercase;
}

.edit-post-visual-editor img {
  vertical-align: middle;
}

.edit-post-visual-editor .entry-content h1,
.edit-post-visual-editor .entry-content h2,
.edit-post-visual-editor .entry-content h3,
.edit-post-visual-editor .entry-content h4,
.edit-post-visual-editor .entry-content h5,
.edit-post-visual-editor .entry-content h6 {
  margin-bottom: 20px;
}

.edit-post-visual-editor p {
  margin-bottom: 1.75em;
}

.edit-post-visual-editor blockquote {
  margin: 1.5em 1em 1.5em 3em;
  padding: 1.2em;
  font-size: 1.1em;
  line-height: inherit;
  position: relative;
}

.edit-post-visual-editor .ast-button,
.edit-post-visual-editor .button,
.edit-post-visual-editor input[type="button"],
.edit-post-visual-editor input[type="submit"] {
  border-radius: 0;
  padding: 18px 30px;
  border: 0;
  box-shadow: none;
  text-shadow: none;
}

.edit-post-visual-editor .ast-button:hover,
.edit-post-visual-editor .button:hover,
.edit-post-visual-editor input[type="button"]:hover,
.edit-post-visual-editor input[type="submit"]:hover {
  box-shadow: none;
}

.edit-post-visual-editor .ast-button:active, .edit-post-visual-editor .ast-button:focus,
.edit-post-visual-editor .button:active,
.edit-post-visual-editor .button:focus,
.edit-post-visual-editor input[type="button"]:active,
.edit-post-visual-editor input[type="button"]:focus,
.edit-post-visual-editor input[type="submit"]:active,
.edit-post-visual-editor input[type="submit"]:focus {
  box-shadow: none;
}

.edit-post-visual-editor .site-title {
  font-weight: normal;
}

.edit-post-visual-editor .site-title,
.edit-post-visual-editor .site-description {
  margin-bottom: 0;
}

.edit-post-visual-editor .site-title a,
.edit-post-visual-editor .site-title:hover a,
.edit-post-visual-editor .site-title:focus a,
.edit-post-visual-editor .site-description a,
.edit-post-visual-editor .site-description:hover a,
.edit-post-visual-editor .site-description:focus a {
  transition: all 0.2s linear;
}

.edit-post-visual-editor .site-title a,
.edit-post-visual-editor .site-title a:focus,
.edit-post-visual-editor .site-title a:hover,
.edit-post-visual-editor .site-title a:visited {
  color: #222;
}

.edit-post-visual-editor .site-description a,
.edit-post-visual-editor .site-description a:focus,
.edit-post-visual-editor .site-description a:hover,
.edit-post-visual-editor .site-description a:visited {
  color: #999;
}

.edit-post-visual-editor .search-form .search-field {
  outline: none;
}

.edit-post-visual-editor .ast-search-menu-icon {
  position: relative;
}

.edit-post-visual-editor .ast-header-break-point.ast-header-custom-item-outside .main-header-bar .ast-search-icon {
  margin-right: 1em;
}

.edit-post-visual-editor .ast-header-break-point.ast-header-custom-item-inside .main-header-bar .main-header-bar-navigation .ast-search-icon {
  display: none;
}

.edit-post-visual-editor .ast-header-break-point.ast-header-custom-item-inside .main-header-bar .ast-search-menu-icon .search-field,
.edit-post-visual-editor .ast-header-break-point.ast-header-custom-item-inside .main-header-bar .ast-search-menu-icon.ast-inline-search .search-field {
  width: 100%;
  padding-right: 5.5em;
}

.edit-post-visual-editor .ast-header-break-point.ast-header-custom-item-inside .main-header-bar .ast-search-menu-icon .search-submit {
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  padding: 0 1em;
  border-radius: 0;
}

.edit-post-visual-editor .ast-header-break-point.ast-header-custom-item-inside .main-header-bar .ast-search-menu-icon .search-form {
  padding: 0;
  display: block;
  overflow: hidden;
}

.edit-post-visual-editor .site .skip-link {
  background-color: #f1f1f1;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  color: #21759b;
  display: block;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 700;
  left: -9999em;
  outline: none;
  padding: 15px 23px 14px;
  text-decoration: none;
  text-transform: none;
  top: -9999em;
}

.edit-post-visual-editor .site .skip-link:focus {
  clip: auto;
  height: auto;
  left: 6px;
  top: 7px;
  width: auto;
  z-index: 100000;
  outline: thin dotted;
}

.logged-in .edit-post-visual-editor .site .skip-link {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  font-family: "Open Sans", sans-serif;
}

.edit-post-visual-editor .astra-icon-down_arrow::after {
  content: "\e900";
  font-family: Astra;
}

.edit-post-visual-editor .astra-icon-close::after {
  content: "\e5cd";
  font-family: Astra;
}

.edit-post-visual-editor .astra-icon-drag_handle::after {
  content: "\e25d";
  font-family: Astra;
}

.edit-post-visual-editor .astra-icon-format_align_justify::after {
  content: "\e235";
  font-family: Astra;
}

.edit-post-visual-editor .astra-icon-menu::after {
  content: "\e5d2";
  font-family: Astra;
}

.edit-post-visual-editor .astra-icon-reorder::after {
  content: "\e8fe";
  font-family: Astra;
}

.edit-post-visual-editor .astra-icon-search::after {
  content: "\e8b6";
  font-family: Astra;
}

.edit-post-visual-editor .astra-icon-zoom_in::after {
  content: "\e56b";
  font-family: Astra;
}

.edit-post-visual-editor .astra-icon-check-circle::after {
  content: "\e901";
  font-family: Astra;
}

.edit-post-visual-editor .astra-icon-shopping-cart::after {
  content: "\f07a";
  font-family: Astra;
}

.edit-post-visual-editor .astra-icon-shopping-bag::after {
  content: "\f290";
  font-family: Astra;
}

.edit-post-visual-editor .astra-icon-shopping-basket::after {
  content: "\f291";
  font-family: Astra;
}

.edit-post-visual-editor .astra-icon-circle-o::after {
  content: "\e903";
  font-family: Astra;
}

.edit-post-visual-editor .astra-icon-certificate::after {
  content: "\e902";
  font-family: Astra;
}

.edit-post-visual-editor h1, .edit-post-visual-editor h2, .edit-post-visual-editor h3, .edit-post-visual-editor h4, .edit-post-visual-editor h5, .edit-post-visual-editor h6 {
  clear: both;
}

.edit-post-visual-editor h1,
.edit-post-visual-editor .entry-content h1 {
  color: #808285;
  font-size: 2em;
  line-height: 1.2;
}

.edit-post-visual-editor h2,
.edit-post-visual-editor .entry-content h2 {
  color: #808285;
  font-size: 1.7em;
  line-height: 1.3;
}

.edit-post-visual-editor h3,
.edit-post-visual-editor .entry-content h3 {
  color: #808285;
  font-size: 1.5em;
  line-height: 1.4;
}

.edit-post-visual-editor h4,
.edit-post-visual-editor .entry-content h4 {
  color: #808285;
  line-height: 1.5;
  font-size: 1.3em;
}

.edit-post-visual-editor h5,
.edit-post-visual-editor .entry-content h5 {
  color: #808285;
  line-height: 1.6;
  font-size: 1.2em;
}

.edit-post-visual-editor h6,
.edit-post-visual-editor .entry-content h6 {
  color: #808285;
  line-height: 1.7;
  font-size: 1.1em;
}

.edit-post-visual-editor .wp-block-heading h1 {
  line-height: 1.2;
}

.edit-post-visual-editor .wp-block-heading h2 {
  line-height: 1.3;
}

.edit-post-visual-editor .wp-block-heading h3 {
  line-height: 1.4;
}

.edit-post-visual-editor .wp-block-heading h4 {
  line-height: 1.5;
}

.edit-post-visual-editor .wp-block-heading h5 {
  line-height: 1.6;
}

.edit-post-visual-editor .wp-block-heading h6 {
  line-height: 1.7;
}

.editor-styles-wrapper .block-editor-block-list__block h1 {
  line-height: 1.2;
}

.editor-styles-wrapper .block-editor-block-list__block h2 {
  line-height: 1.3;
}

.editor-styles-wrapper .block-editor-block-list__block h3 {
  line-height: 1.4;
}

.editor-styles-wrapper .block-editor-block-list__block h4 {
  line-height: 1.5;
}

.editor-styles-wrapper .block-editor-block-list__block h5 {
  line-height: 1.6;
}

.editor-styles-wrapper .block-editor-block-list__block h6 {
  line-height: 1.7;
}

.edit-post-visual-editor p,
.block-editor-block-list__block p,
.editor-default-block-appender textarea.editor-default-block-appender__content {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  font-weight: inherit;
  font-size: 15px;
  font-size: 1rem;
}

.editor-post-title__block .editor-post-title__input {
  font-size: 30px;
  font-size: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  font-weight: normal;
}

.edit-post-visual-editor .block-editor-block-list__block {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

@media (min-width: 600px) {
  .edit-post-visual-editor .block-editor-block-list__block {
    padding-left: 0;
    padding-right: 0;
  }
}

.edit-post-visual-editor .block-editor-block-list__block .editor-block-list__block-edit {
  margin-left: 0;
  margin-right: 0;
}

.edit-post-visual-editor .block-editor-block-list__block > .editor-block-mover {
  left: -50px;
  top: -5px;
}

.editor-post-title__block,
.editor-default-block-appender,
.block-editor-block-list__block {
  max-width: 1256px;
}

.block-editor-block-list__block[data-align=full] {
  max-width: none;
}

@media (min-width: 600px) {
  .block-editor-block-list__block[data-align=full] .editor-block-list__block-edit {
    padding-left: 0;
    padding-right: 0;
  }
}

.block-editor-block-list__block[data-align=wide] {
  max-width: 1400px;
}

.edit-post-visual-editor .block-editor-block-list__layout .block-editor-block-list__layout {
  padding: 0;
}

.editor-default-block-appender__content {
  margin-top: 32px;
}

.wp-block-latest-posts.is-grid {
  list-style: none;
}

.blocks-gallery-grid {
  margin: 0;
}

.wp-block-gallery {
  margin: 0;
}

.wp-block-gallery.is-cropped .blocks-gallery-item img {
  height: 100%;
}

.edit-post-visual-editor .blocks-gallery-grid {
  margin: 0;
}

.wp-block-latest-posts {
  margin-left: 0;
}

.wp-block-latest-posts li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}

.mce-widget i {
  font-style: normal;
}

#elementor-editor-button {
  background: #0073aa;
  border-color: #0073aa;
  color: #fff;
  font-size: 14px;
  height: 46px;
  line-height: 44px;
  padding: 0 36px;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  -webkit-appearance: none;
  border-radius: 3px;
  white-space: nowrap;
  box-sizing: border-box;
  box-shadow: 0 2px 0 #006799;
}

#elementor-editor-button:hover, #elementor-editor-button:focus {
  background: #007db9;
  border-color: #00699b;
  color: #fff;
}

#elementor-editor-button:focus {
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px #0073aa;
}

#elementor-editor-button:active {
  background: #006291;
  border-color: #006291;
  color: #fff;
}

#elementor-editor-button.active, #elementor-editor-button.active:focus, #elementor-editor-button.active:hover {
  background: #0073aa;
  color: #fff;
  border-color: #003f5e;
  box-shadow: inset 0 2px 5px -3px black;
}

#elementor-editor-button i {
  font-style: normal;
  color: white;
}

.editor-media-placeholder button,
.fl-builder-layout-launch-view button {
  margin: 2px;
}

.fl-builder-layout-launch-view .is-primary.is-primary {
  color: white;
}

.ast-separate-container #wpwrap .edit-post-visual-editor {
  background-color: #f5f5f5;
}

/**
 * Woocommerce Gutenberg Blocks Product Grid CSS Compatibility.
 */
.wc-block-grid .wc-block-grid__products .wc-block-grid__product {
  text-align: left;
  margin-bottom: 2.5em;
}

.wc-block-grid .wc-block-grid__products .wc-block-grid__product.product-category > a {
  display: inline-block;
  position: relative;
}

.wc-block-grid .wc-block-grid__products .wc-block-grid__product a img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 0 .8em 0;
  box-shadow: none;
}

.wc-block-grid .wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-title {
  margin-bottom: .5em;
  padding: 0;
  font-size: 1em;
  line-height: 1.2;
  font-weight: inherit;
}

.wc-block-grid .wc-block-grid__products .wc-block-grid__product .star-rating {
  margin: 0 auto .5em 0;
  backface-visibility: hidden;
}

.wc-block-grid .wc-block-grid__products .wc-block-grid__product .woocommerce-loop-product__link {
  position: relative;
  display: block;
}

.wc-block-grid .wc-block-grid__products .wc-block-grid__product .woocommerce-loop-product__link:hover .ast-shop-product-out-of-stock {
  background-color: white;
}

.wc-block-grid .wc-block-grid__products .wc-block-grid__product.product-category > a:hover .woocommerce-loop-category__title {
  background-color: white;
}

.wc-block-grid .wc-block-grid__products .wc-block-grid__product .woocommerce-loop-category__title {
  bottom: 1.8em;
  font-size: 0.9em;
}

.wc-block-grid .wc-block-grid__products .wc-block-grid__product .woocommerce-loop-category__title .count {
  font-size: .7em;
}

.wc-block-grid .wc-block-grid__products .wc-block-grid__product .price {
  line-height: 1.3;
  margin-bottom: 0;
  font-weight: 700;
  margin-bottom: .5em;
  font-size: .9em;
}

.wc-block-grid .wc-block-grid__products .wc-block-grid__product .price del {
  display: initial;
}

.wc-block-grid .wc-block-grid__products .wc-block-grid__product .wp-block-button__link {
  margin-top: .5em;
  margin-bottom: .5em;
  white-space: normal;
  line-height: 1.3;
  font-size: 100%;
  font-weight: 700;
}

.wc-block-grid .wc-block-grid__products .wc-block-grid__product .wp-block-button__link.added {
  margin-bottom: 0;
  transition: margin 0s;
}

.wc-block-grid .wc-block-grid__products .wc-block-grid__product .woocommerce-loop-category__title {
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.5;
}

.wc-block-grid .wc-block-grid__products .wc-block-grid__product .woocommerce-loop-category__title .count {
  display: block;
  background: none;
  opacity: .5;
  font-size: .75em;
}

.wc-block-grid .wc-block-grid__products .wc-block-grid__product .wc-block-grid__product-onsale {
  min-width: 3em;
  min-height: 3em;
  line-height: 3em;
  padding: 0;
  font-size: 1em;
  font-weight: normal;
  text-transform: capitalize;
  position: absolute;
  text-align: center;
  border-radius: 100%;
  z-index: 9;
  top: 0;
  right: 15px;
  left: auto;
  margin: -0.5em -0.5em 0 0;
}

.main-header-bar{
  background: red;
}